<!-- <!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Campground</title>
</head>

<body> -->
<% layout('layouts/boilerplate.ejs') %>

    <h1 class="text-center">Edit Campground</h1>
    <div class="col-md-6 offset-md-3">

        <form action="/campgrounds/<%= campground._id %>?_method=PUT" method="POST" novalidate class="needs-validation" enctype="multipart/form-data">
            <div class="mb-3">
                <label for="title" class="form-label">Title</label>
                <input type="text" id="title" name="title" class="form-control" value="<%= campground.title %>"
                    required>
                <div class="valid-feedback">
                    Looks Good!
                </div>
            </div>
            <div class="mb-3">
                <label for="location" class="form-label">Location</label>
                <input type="text" id="location" name="location" class="form-control" value="<%= campground.location %>"
                    required>
                <div class="valid-feedback">
                    Looks Good!
                </div>
            </div>

            <div class="mb-3">
                <label for="image" class="form-label">Add Images</label>
                <input type="file" name="image" id="image" multiple>
                
                <!-- <input type="text" id="image" name="image" class="form-control" value="<%= campground.image %>"
                    required>
                <div class="valid-feedback">
                    Looks Good!
                </div> -->
            </div>

            <div class="mb-3">
                <label for="price" class="form-label">Campground Price</label>
                <div class="input-group">
                    <span class="input-group-text" id="basic-addon1">$</span>
                    <input type="text" class="form-control" placeholder="0.00" aria-label="erice"
                        aria-describedby="basic-addon1" name="price" value="<%= campground.price %>" required>
                    <div class="valid-feedback">
                        Looks Good!
                    </div>
                </div>
            </div>

            <div class="mb-3">
                <label for="description" class="form-label">Description</label>
                <textarea type="text" id="description" name="description" class="form-control"
                    required><%= campground.description %></textarea>
                <div class="valid-feedback">
                    Looks Good!
                </div>
            </div>

            <div class="mb-3">
                <% campground.image.forEach(function(img, i) { %>
                    <img src="<%= img.thumbnail %>" class="img-thumbnail" alt="">
                    <div class="form-check-inline">
                        <input type="checkbox" id="image-<%= i %>" name="deleteImages[]" value="<%= img.filename %>">
                    </div>
                    <label for="image-<%= i %>">Delete?</label>
                <% }) %>
            </div>



            <div class="mb-3">
                <button class="btn btn-success">Edit Campground</button>
            </div>
        </form>
        <footer>
            <a href="/campgrounds/<%= campground._id %>">Back To Campground</a>
        </footer>
    </div>







    <!-- </body>

</html> -->